<nav class="navbar navbar-default">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">{{title}}</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active orders</a></li>
      <li><a href="#archives">Archives</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</nav>


<h1>
  {{title}}
</h1>

<ul>
  <li *ngFor="let order of orders">
    {{ order.restaurant }}
    {{ order.updated_at | date: "short" }}


  </li>
</ul>

<login-jumbotron></login-jumbotron>
