<div class="jumbotron">
  <h1>We have to know who you are.</h1>
  <p>Log in with Facebook below. We will only see your name and won't be allowed to post on your timeline. </p>
  <p>Current token you're using is {{token}} </p>
  <p>and it expires  {{token_expires_at}}</p>
  <p>
    <a class="btn btn-lg btn-primary" href="https://www.facebook.com/v2.8/dialog/oauth?client_id=394032594281900&response_type=token&redirect_uri={{redirect_uri}}" role="button">Log in with FB &raquo;</a>
  </p>
</div>
